<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body background="assets/images/Selection-process.png">
    <div class="showcase">
      <header>
        <h1 class="logo">
          Le meileur site! Pour le meilleur recrutement!!
        </h1>
      </header>
    </div>

    <br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><!----><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
     <footer>All Right reserved web Master</footer>
  </body>
</html>
